<div class="authWrapper">
	<form action='/signin' method='POST'>
	  <p>Username: <input type= 'text' name= 'name'></p>
	  <p>Password:  <input type= 'password' name='password'></p>
	  <input type= 'submit' value = 'Login'>
	</form>
	<!-- need a button for "not a member? sign up" -->
</div>
