<div class="authWrapper">
	<form action='/signin' method='POST'>
	  <p>Username: <input class="auto-focus" type= 'text' name= 'name'></p>
	  <p>Password:  <input type= 'password' name='password'></p>
	  <input type= 'submit' value = 'Login'>
	</form>
	<br>
	<form action="/signup" method="GET">
	<button>Sign Up</button>	
	</form>
</div>
