<!-- <h1>Join Us.</h1> -->

<form action="/signup" method="POST">
  <p><label>Username:</label></p>
  <p><input type="text" name="user[name]"></p>
  <p><label>Password:</label></p>
  <p><input type="password" name="user[password]"></p>
  <p><label>Confirm Password:</label></p>
  <p><input type="password" name="user[password_confirmation]"></p>
  <p><input type="submit"></p>
</form>
