<form method="POST" action="">
  <label>Question</label>
  <label>Answer Type</label>

  <div class="answer-option-container">
    <%= erb :'_answer-option' %>
  </div>

  <input type="submit" name="next" value="submit and continue">
  <input type="submit" name="done" value="submit and finish">
</form>


