<form method="POST" action="">
  <p><label>Question</label></p>
    <p><input type="text" name="question"></p>
  <p><label>Answer Type</label></p>
    <p><select class="select-answer-type"></p>
      <option value="radio">Choose One</option>
      <option value="checkbox">Choose Many</option>
    </select>
  <div class="answer-option-container">
    <p><a href="#">Add answer option.</a></p>
    <%= erb :'_answer-option' %>
  </div>

  <p><input type="submit" name="next" value="submit and add more questions"></p>
  <p><input type="submit" name="done" value="submit and finish"></p>
</form>


