
<form class="make-survey-form" method="POST" action="">
	<h1>Make A Survey</h1>

	<!-- this needs to be a button -->
  <span id="add-question-field">Add Question</span>
  <div class="question-container"></div>
  <p>
  <input type="submit" value="Create Survey">
  </p>
</form>
