<!-- Pseudocode:
1. See textbox that says "Name this survey."
2. Submit title.
3. Backend: creates the survey with the id, empty questions.
4. AJAX: replace textbox with Title, and a new form appears to add a question.
5. Add question: title. Click create.
6. Generates question with 2 answer options. Once they've clicked enter on the last answer option, an additional submission form appears for answer options.
7. Whenever they want, they click "submit question."
8. At any time after they've submitted ONE question, they can click a "create survey" button that lives outside of the question creation form. -->

<!-- Tucker & Charles: follow the action and controller logic to see how this path
  gets us to adding questions. LTK -->
<form class="name-survey-form" method="POST" action="/surveys/create">
  <label>Survey Title</label>
  <input type="text" name="title">
  <input type="submit" value="Create Survey">
</form>


