<h1>Make A Survey</h1>

<form class="make-survey-form" method="POST" action="">
  <span id="add-question-field">Add Question</span>
  <div class="question-container"></div>
  <p>
  <input type="submit" value="Create Survey">
  </p>
</form>
