<h1>Make A Survey</h1>

<form class="make-survey-form" method="POST" action="">
  <div class="question-container"></div>
  <p>
  <input type="submit" value="Create Survey">
  </p>
</form>


<button id="add-question-field">Add Question</button>
