<h1>Make A Survey</h1>

<form class="make-survey-form" method="POST" action="">
  <p>
  <span id="add-question">Add Question</span>
  </p>
  <p>
  <input type="submit" value="Create Survey">
  </p>
</form>
