<form class="add-question-form" method="POST" action="">
  <input type="hidden" name="_method" value="PUT" />
  <h1>Add A Question</h1>
  <p><label>Question</label></p>
  <p><input type='text' name='question'></p>
  <p><a href="#" id='add-answer-option-field'>Add Answer Option</a></p>
  <label>Answer Option 1: </label>
  <div class='answer-option-container'>
    <input type='text' name='answer-option-1'></p>
  </div>
  <input type="submit" value="Submit Question">
  <input type="submit" name="Generate" value="Generate Survey">
  </p>
</form>

