<form class="add-question-form" method="POST" action="">
  <h1>Add A Question</h1>
  <p><label>Question</label></p>
  <p><input type='text' name='question'></p>
  <p><a href="#" id='add-answer-option-field'>Add Answer Option</a></p>
  <div class='answer-option-container'></div>
  <input type="submit" value="Submit Question">
  </p>
</form>
