<div class="hero">
	<div class="hero-inner">
    <a href="" class="hero-logo"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png
" alt="Logo Image"></a>
		<div class="hero-copy">
			<h1>Create Surveys that move the soul</h1>
			<p>Surveys let you have data. Data. Hooray.</p>	
		</div>
    <a href="/surveys"><button >Take A Survey</button></a> 
      <%if current_user%>
    <a href="/surveys/create"><button >Create A Survey</button></a>
		<%end%>
	</div>
</div>
