<form method="POST" name="questions">
  <% @questions.each do |question| %>
  <h3><%= question.question_desc %></h3>
    <%question.answers.each do |answer|%>
    <div class="button-group">
      <label>
        <input type="radio" name="question[<%= question.question_desc %>]" value="<%= answer.answer_text %>">
        <span class="button-group-item"><%= answer.answer_text %></span>
      </label>
    </div>
    <% end %>
  <% end %>
  <input type="submit">
</form>