<nav>
  <div class="nav-left">
    <ul>
      <li>SurveyGeist</li>
      <li>About</li>
    </ul>
  </div>
  <div class="nav-right">
    <ul>
      <li>Profile</li>
      <a href="/login"><li>Sign In</li></a>
      <a href="/signup"><li>Sign Up</li></a>
      <a href="/logout"><li>Sign Out</li></a>
    </ul>
  </div>
</nav>
