<nav>
  <div class="nav-left">
    <ul>
      <li>SurveyGeist</li>
      <li>About</li>
    </ul>
  </div>
  <div class="nav-right">
    <ul>
      <li>Profile</li>
      <li>Sign In</li>
      <li>Sign Up</li>
      <li>Sign Out</li>
    </ul>
  </div>
</nav>
