<section>
  <h1>Greetings.</h1>
  <h1>This is SurveyGeist.</h1>
  <div class="welcome-button-container">
    <a href="/surveys/create"><button class="welcome-button">Make A Survey</button></a>
    <a href="/surveys"><button class="welcome-button">Take A Survey</button></a>
  </div>
</section>
