<section>
  <h1>Welcome to SurveyGeist.</h1>
  <div class="welcome-button-container">
    <button class="welcome-button">Make A Survey</button>
    <button class="welcome-button">Take A Survey</button>
  </div>
</section>
